body {
  text-align: center;
  background-color: #fff;
}

#controls {
  display: none;
  margin-left: 10px;
  text-align: center;
}

#controls #horiz {
  display: flex;
  align-items: center;
  justify-content: center;
}

#controls button {
  padding: 10px 10px;
  margin-top: 10px;
  background-color: #DDD;
  border: 1px solid #000;
  width: 100px;
  height: 100px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
/*
 * Spacing between horiz buttons
 */
button#right {
  margin-left: 5px;
}
button#left {
  margin-right: 5px;
}

/*
 * General button arrow styles
 */
#controls button::before {
  content:'';
  width: 0px;
  position: absolute;
}
/*
 * Specific Arrow Styles
 */
button#left::before {
  border-top: 20px solid transparent;
  border-right: 30px solid #000;
  border-bottom: 20px solid transparent;
  left: 30px;
  top: 30px;
}
button#right::before {
  border-top: 20px solid transparent;
  border-left: 30px solid #000;
  border-bottom: 20px solid transparent;
  left: 30px;
  top: 30px;
}
button#up::before {
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 25px solid #000;
  left: 30px;
  top: 32px;
}
button#down::before {
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 25px solid #000;
  left: 30px;
  top: 38px;
}

#start {
  background-color: darkgreen;
  /* Green */
  border-radius: 50%;
  color: white;
  padding: 18px;
  padding-top: 18px;
  margin-top: 18px;
  margin-bottom: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
}


#title {
  font-size: 2rem;
  margin: 5%;
  color: darkgreen;
}

#level {
  font-size: 2rem;
  margin: 5%;
  color: darkgreen;
}

.cell-text-cross {
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 10vw;
  margin: 5%;
  color: #eb5b34;
}

.cell-text-circle {
  text-align: center;
  vertical-align: middle;
  font-family: sans-serif;
  font-size: 10vw;
  margin: 5%;
  color: #34eb59;
}

.container {
  float: left;
  display: block;
  width: 100vw;
  height: 10px;
  max-height: 50%;
  margin: auto;
}

.btn {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  height: 10vw;
  width: 10vw;
  border: 1px solid black;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

.grey {
  background-color: grey;
}

.goal {
  background-image: url("images/lake.jpg");
  background-repeat:no-repeat;
  background-size: contain;
  background-color: white;
 }

 .start {
   background-image: url("images/fish.jpg");
   background-repeat:no-repeat;
   background-size: contain;
   background-color: green;
 }

.green {
  background-color: green;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#fish_thank {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
